@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

html,
body,
.app,
.content {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: "Source sans pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}
.content {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 10px;
  border: 1px solid red;
}
.content-left-toggle {
  display: grid;
  grid-template-columns: 50px 1210px;
  gap: 8px;
  /* border: 1px solid red; */
}
.left-grid {
  border: 1px solid green;
}
.right-grid {
  width: 100%;
  border: 1px solid yellow;
  display: grid;
  grid-template-rows: 85px auto;
}
/* .toggle-right-grid{
  
} */
.right-grid-col-one {
  border: 1px solid green;
}
.right-grid-col-two {
  border: 1px solid yellow;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(87, 86, 86);
  border-radius: 10px;
  border: 1px solid rgb(48, 47, 47);
}

::-webkit-scrollbar-track {
  background-color: rgb(194, 191, 191);
}

@media screen and(max-width:600px) {
  .handle-responsive {
    /* display: grid;
    grid-template-columns: 1fr 1fr;  */
    /* border: 1px solid red; */
  }
}

@media screen and(max-width:900px) {
  .handle-responsive {
    /*display: grid;
    grid-template-columns: 1fr 1fr; */
    /* border: 1px solid red; */
  }
}

@media screen and(max-width:1200px) {
  .handle-responsive {
    /*display: grid;
    grid-template-columns: 1fr 1fr; */
    /* border: 1px solid red; */
  }
}

@media screen and(max-width:1536px) {
  .handle-responsive {
    /*display: grid;
    grid-template-columns: 1fr 1fr; */
    /* border: 1px solid red; */
  }
}

@media (max-width: 600px) {
  .content,
  .content-left-toggle {
    grid-template-columns: 50px 1210px; /* Hide sidebar by making the layout a single column */
  }

  .left-grid {
    /*display: none;  Hide the sidebar */
  }
  .responsvie-design {
    display: none;
  }
  .content{
    width: 500px;
  }
}
